# sharp_binary_host=https://npmmirror.com/mirrors/sharp
# sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips

sharp_binary_host=https://registry.npmjs.org/mirrors/sharp
sharp_libvips_binary_host=https://registry.npmjs.org/mirrors/sharp-libvips